version: "3.9"
services:
  pgsql:
    image: postgres:14-alpine
    environment:
      - POSTGRES_DB=xtest
      - POSTGRES_USER=xuser
      - POSTGRES_PASSWORD=xuser123
      - PGDATA=/var/lib/postgresql/data/pgdata
    restart: always
    volumes:
      - .:/docker-entrypoint-initdb.d
      - db_data:/var/lib/postgresql/data
  xserver:
    build: ./server
    ports:
      - "8080:8080" # REST API
      - "8090:8090" # WEBSOCKET SERVER
    environment:
      - POSTGRES_DB_URL=postgres://xuser:xuser123@pgsql:5432/xtest
      - LOG_FILE=/var/log/xserver.log
    volumes:
      - logvolume01:/var/log
    depends_on:
      - pgsql
  xclient:
    build: ./client
    environment:
      - SERVER_URL=xserver:8090
    depends_on:
      - xserver
volumes:
  logvolume01:
  db_data:
